.mainPage {
  height: 100vh;
}
.mainPageMid{
  background-color: #F6F6F6;
  height: 80%;
  border-bottom: 2px solid #dcd8d8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPageMidLeft{
  height: 60%;
  width: 40%;
  background-color: #fff;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.mainPageMidRight{
  height: 90%;
  width: 30%;
  background-color: #fff;
}
.paymentMethods{
  display: flex;
  flex-wrap: wrap;
}
.paymentImages{
  height: 6rem;
  width: 6rem;
  margin: 15px 20px;
  cursor: pointer;
}
.storeCreaditDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.storeCreaditImg{
  height: 4rem;
  width: 7rem;
  cursor: pointer;
  margin-top: 10px;
}
.rt h2{
  margin: 0;
}
.rt p{
  margin-top: 0.5rem;
  color: #575656;
}
.mainPageMidRight{
  padding: 2rem;
}
.rm{
  margin: 1rem 1rem;
}
.rb{
  margin-top: 2rem;
}
.rbs{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.total{
  margin-top: 2rem;
}
.bb{
  display: flex;
  align-items: center;
  justify-content: center;
}